<a href="https://colab.research.google.com/github/binipaul/AI/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Load libraries
import pandas
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [121]:
url_train = 'https://raw.githubusercontent.com/binipaul/AI/master/train.csv'
dataset = pd.read_csv(url_train)
print (dataset.head())
print (type(dataset))
print(dataset.groupby('Survived').size())

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]
<class 'pandas.core.frame.DataFrame'>
Survived
0    549
1    342
dtype: int64

In [0]:
dataset = dataset.drop(["Name","Cabin","Fare"],axis = 1)

In [122]:
dataset=dataset.dropna()
print (len(dataset))

183

In [0]:
dataset=dataset.fillna(method ='pad')
#dataset.isnull()

In [59]:
"""bool_series = pd.isnull(dataset["Age"]) 
print (type(bool_series))
  
for i in dataset[bool_series]:
  print (i)

for j in dataset[dataset.Age.isnull()]:
  print (dataset[j])
  """
print(dataset.head(0))

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Sex, Age, SibSp, Parch, Ticket, Embarked]
Index: []

In [0]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for column in dataset.columns:
    if dataset[column].dtype == type(object):
        le = LabelEncoder()
        dataset[column] = le.fit_transform(dataset[column])
#array = dataset.values
X= dataset[[ 'Pclass','Sex', 'Age']]
Y = dataset.Survived
#print (Y)
from sklearn import model_selection
X_train,X_validation,Y_train,Y_validation = model_selection.train_test_split(X,Y,test_size = 0.10, random_state = 7)

In [140]:
# Test options and evaluation metric
seed = 10
scoring = 'accuracy'
# Spot Check Algorithms
models = []
models.append(('LR', LogisticRegression(solver='liblinear', multi_class='ovr')))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC(gamma='auto')))
# evaluate each model in turn
results = []
names = []
for name, model in models:
	kfold = model_selection.KFold(n_splits=10, random_state=seed)
	cv_results = model_selection.cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
	results.append(cv_results)
	names.append(name)
	msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
	print(msg)

LR: 0.753801 (0.127371)
LDA: 0.753509 (0.123002)
KNN: 0.723099 (0.136460)
CART: 0.792982 (0.098054)
NB: 0.769591 (0.129706)
SVM: 0.755848 (0.121816)

In [141]:
from sklearn.tree import DecisionTreeClassifier
kfold = model_selection.KFold(n_splits = 10, random_state = 7)
cv_results = model_selection.cross_val_score(DecisionTreeClassifier(), X, Y, cv=kfold, scoring='accuracy')
print (cv_results)
print (cv_results.mean())

[0.89473684 0.73684211 0.63157895 0.94444444 0.83333333 0.88888889
 0.77777778 0.66666667 0.72222222 0.83333333]
0.7929824561403509

In [153]:
#import testing data
url_test = 'https://raw.githubusercontent.com/binipaul/AI/master/test.csv'
datatest = pd.read_csv(url_test)
print (datatest.head())
print (type(datatest))
print (len(datatest))

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]
<class 'pandas.core.frame.DataFrame'>
418

In [154]:

datatest=datatest.fillna(method ='pad')
datatest=datatest.dropna()
print (len(datatest))
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for column in datatest.columns:
    if datatest[column].dtype == type(object):
        le = LabelEncoder()
        datatest[column] = le.fit_transform(datatest[column])
#array = dataset.values
X_test= datatest[[ 'Pclass','Sex', 'Age']]

406

In [156]:
# Make predictions on validation dataset
dtc = DecisionTreeClassifier()
dtc.fit(X, Y)
predictions = dtc.predict(X_test)

print( predictions)

[1 0 1 1 1 0 1 0 0 1 1 0 1 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 1 1 0 0 0 1
 0 0 1 1 1 1 1 1 0 0 1 1 1 0 1 1 1 1 0 0 1 1 0 0 1 1 1 1 1 0 1 1 0 1 1 1 1
 1 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1 0 0 1 0 0 0 0 0 0 0 1 1 1 0 0 0 1 1 1 1 1
 0 0 1 0 1 0 0 1 0 0 0 0 0 0 1 1 0 1 1 0 1 1 0 0 0 0 0 1 0 1 0 1 0 1 1 1 1
 1 1 1 0 0 1 1 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 0 0 1 1 1 0 1 1 1 0 1 0 1
 1 1 1 1 1 0 1 1 1 0 0 1 0 1 1 1 0 0 1 0 0 0 0 1 0 1 0 1 0 0 1 0 0 1 1 0 0
 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 0 0 0 1 0 1 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 0
 0 0 1 0 1 1 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 1 1 0 1
 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 1 0 1 0 0 1 1 1 0
 1 1 0 0 1 1 1 0 1 0 0 1 0 0 0 1 1 1 0 0 1 0 1 1 0 0 1 1 0 1 1 1 0 0 1 1 0
 1 1 0 1 0 0 0 1 1 1 1 0 0 1 0 1 0 0 1 0 1 1 1 0 1 0 0 0 0 1 1 0 1 0 0 0]